/*PALETA DE COLORES*/
:root {
    --violeta: rgb(165, 30, 107);
    --naranja: #ef7c16;
    --naranja-dark: #c65c00;
    --naranja-disabled: #ef7b1658;
    --negro: #1B2432;
    --blanco: #E6E8E6;
    --blanco-highlight: hwb(216 73% 10%);
    --primary: #ef7c16
}

/*Clases colores*/
.violeta {
    color: var(--violeta);
}

.naranja {
    color: var(--naranja)
}

.negro {
    color: var(--negro)
}

.blanco {
    color: var(--blanco);
}

.bg-violeta {
    background-color: var(--violeta)
}

.bg-naranja {
    background-color: var(--naranja)
}

.bg-negro {
    background-color: var(--negro)
}

.bg-blanco {
    background-color: var(--blanco)
}

/*BODY*/
body {
    color: var(--negro);
    width: 100%;
    height: 100%;
    position: static;
}

/*Botones*/
.btn-primary {
    background-color: var(--naranja);
    border: 0;
}

.btn-primary:disabled {
    background-color: var(--naranja);
    border: 0;
}

.btn-primary:hover {
    background-color: var(--naranja-dark);
}

.btn-secondary {
    background-color: var(--violeta);
    border: 0;
}

.btn-secondary:hover {
    background-color: var(--negro);
    border: 0;
}

.btn-edit {
    background-color: var(--blanco);
    margin: 0 4px;
}

.btn-edit:hover {
    background-color: var(--naranja);
}

.btn-delete {
    background-color: rgb(220, 53, 69);
    margin: 0 4px;
}

.btn-delete:hover {
    background-color: rgb(241, 108, 121);
}

.btn-detalles {
    background-color: var(--blanco);
    margin: 0 4px;
}

.btn-detalles:hover {
    background-color: var(--naranja);
}

/*Links*/
a {
    color: var(--naranja);
}

/*Header*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.contenido {
    padding-top: 76px;
}

/*Menu*/

.menu {
    height: 115vh;
    background-color: var(--negro);
    color: var(--blanco);
}

.accordion {
    --bs-accordion-color: var(--blanco);
    --bs-accordion-bg: var(--negro);
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: var(--bs-border-color);
    --bs-accordion-border-width: 0;
    --bs-accordion-border-radius: var(--bs-border-radius);
    --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: var(--blanco);
    --bs-accordion-btn-bg: var(--negro);
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23E6E8E6' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23E6E8E6' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: var(--blanco);
    --bs-accordion-active-bg: var(--negro)
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
    font-size: 1rem;
    color: var(--blanco);
    font-weight: bold;
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition)
}

.accordion-button:focus {
    z-index: 8;
    outline: 2;
    box-shadow: var(--naranja)
}

.accordion-item {
    color: var(--blanco);
    background-color: var(--bs-accordion-bg);
    border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color)
}

.nav-link-custom {
    color: var(--blanco);
    padding: 5px 5px;
}

.nav-link-custom:hover,
.nav-link-custom:active,
.nav-link-custom:focus {
    color: var(--negro);
    background-color: var(--blanco-highlight);
}

.accordion-body {
    padding: 5px 15px;
}

/*Inputs*/
.form-control {
    border-color: var(--naranja);
    box-shadow: 0 0 0 0.025rem var(--naranja);
}



.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--violeta);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(165, 30, 107, .25)
}

.form-select {
    border-color: var(--naranja);
    box-shadow: 0 0 0 0.025rem var(--naranja);
}

.form-select:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--violeta);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(165, 30, 107, .25)
}

.form-check-input:checked {
    background-color: var(--naranja);
    border-color: var(--naranja)
}

.form-check-input:focus {
    border-color: var(--violeta);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(165, 30, 107, .25)
}